@media screen and (max-width: 1400px) {
  #profile {
    height: 20vh;
    margin-bottom: 6rem;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #skills {
    margin-top: 2rem;
  }
  #profile {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section-pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .contact-info-container {
    margin: 8px;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section-pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section_text_p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  p {
    font-size: 0.5rem;
  }
  .email-icon {
    height: 2rem;
  }
  .linkedin-icon {
    height: 2rem;
  }
  .bio {
    font-size: 1rem;
  }
  .skill-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    padding: 2rem;
  }
  .cert-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 2rem;
  }
  .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  .cert-icon {
    cursor: pointer;
    height: 3rem;
  }
  .text-container {
    margin: 1rem;
  }
}
