/* MEDIA QUERIES YIPPEE */

@media screen and (max-width: 1200px) {
  #profile {
    display: block;
    height: 20dvh;
    margin-bottom: 0;
  }
  @-moz-document url-prefix() {
    #about {
      margin-top: 120dvh;
    }
  }
  .profile-pic {
    margin-left: auto;
    margin-right: auto;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #skills {
    margin-top: 2em;
  }
  .bottom-icon {
    height: 3em;
  }
  .section-pic-container {
    width: auto;
    justify-self: center;
  }
  .cert-icon {
    height: 8em;
  }
  .cert-grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .skill-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .contact-grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .book-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  h3 {
    font-size: 1.2em;
  }
  footer {
    margin-top: 10dvh;
    margin-bottom: 10dvh;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .your-element {
    margin-top: 120dvh;
  }
}

@media screen and (max-width: 600px) {
  #profile {
    height: 80dvh;
    margin-bottom: 0;
  }
  @-moz-document url-prefix() {
    #about {
      margin-top: 25dvh;
    }
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2em;
  }
  .nav-links li a {
    font-size: 0.75em;
  }
  .logo {
    font-size: 1.5em;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
  }
  .section-pic-container {
    width: auto;
    height: 45vw;
    justify-content: center;
  }
  .section_text_p2 {
    font-size: 1.25em;
  }
  .title {
    font-size: 2em;
  }
  .cert-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 auto;
  }
  .skill-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0 auto;
  }
  .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 auto;
    row-gap: 2.5em;
  }
  .contact-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 auto;
  }
  .book-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  h3 {
    font-size: 0.8em;
  }
  .footer-text {
    font-size: 0.5em;
  }
  .cert-icon {
    height: 5em;
  }
  .project-img {
    width: 100%;
  }
  p {
    font-size: 0.7em
  }
  .bio {
    font-size: 0.7em
  }
  footer {
    margin-top: 2dvh;
    margin-bottom: 10dvh;
  }
}